<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title th:text="${title}"/>
  </head>
  <body>


  <div class="container">
      <div class="row py-2">
          <div class="col-12">
              <form action="/" method="post">
                  <fieldset>
                      <legend>Adding a book</legend>
                      <label> Author's name: <input type="text" id="name" class="form-control"></input></label>
                      <label> Author's surname: <input type="text" id="surname" class="form-control"></input></label>
                      <label> Title of the book: <input type="text" id="title"></input></label>
                      <label>Book Description</label>
                      <label><textarea id="description"></textarea></label>
                      <label for="file">Choose file to upload</label>
                      <input type="file" id="file" name="file" multiple>
                  </fieldset>
                  <button type="submit" class="btn btn-primary">Add</button>
              </form>
          </div>
      </div>
  </div>
  </body>
</html>